
.nav {
  grid-area: n;
  background-color:#06b568;
  padding: 10px;
  font-size:large;
  height: 100%;
}

.nav a:link, .nav a:visited {
  color:ghostwhite;
}

.nav a:hover {
  color:rgba(231, 231, 231, 0.808);
  text-decoration: none;
}